<a href="https://colab.research.google.com/github/dreamer561/Python/blob/main/Dictonary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Dictonary
#Dictonary with integer keys
dict_fruits={
    1:'apple',
    2:'Banana',
    3:'Grapes',
    4:'kiwi',
}
print(dict_fruits)

{1: 'apple', 2: 'Banana', 3: 'Grapes', 4: 'kiwi'}

In [ ]:
#Accessing elements from dict
dict_fruits[1]

'apple'

In [ ]:
#dictonary with string keys
dict_demo_info={
    'name':'john carter',
    'department':'IT',
    'dob':'02/01/1996',
    'salary':60000
}
print(dict_demo_info)

print('dIctonary info :-- AS \n name of Employee :{} \n department of employee : {}\n Date of birth of employee :{}\n Salary of EMployee : {}'.format(dict_demo_info['name'],dict_demo_info['department'],dict_demo_info['dob'],dict_demo_info['salary']))

#print(['dict_demo_ingo : {}\nDepartmentof Employee : {}\nDAte of birth of employee : {}\n Salary of Employee : {}'.format(dict_demo_ingo['name'],dict_demo_ingo['department'],dict_demo_ingo['dob'],dict_demo_ingo['Salary']])

{'name': 'john carter', 'department': 'IT', 'dob': '02/01/1996', 'salary': 60000}
dIctonary info :-- AS
 name of Employee :john carter
 department of employee : IT
 Date of birth of employee :02/01/1996
 Salary of EMployee : 60000

In [ ]:
print('Dictonary with mixed keys :'.center(44,'_'))
dict_mixed={
    'course':'python',
    1001:'course code',
    'list':['course','django',3]

}
print(dict_mixed)

________Dictonary with mixed keys :_________
{'course': 'python', 1001: 'course code', 'list': ['course', 'django', 3]}

lacture 24

In [ ]:
dict_emp_ids={
    'id01':'john page',
    'id02':'david thompson',
    'id03':'terry gao',
    'id04':'barry tax'
}
dict_emp_info={
    'name':'john page',
    'dep':'it',
    'dob':'12\01\1990',
    'salary':'60$'
}
print(dict_emp_ids,dict_demo_info)

{'id01': 'john page', 'id02': 'david thompson', 'id03': 'terry gao', 'id04': 'barry tax'} {'name': 'john carter', 'department': 'IT', 'dob': '02/01/1996', 'salary': 60000}

In [ ]:
#example
emp_id='id02'
if emp_id in dict_emp_ids:
  print('Employee exists in dictonary')

Employee exists in dictonary

In [ ]:
#get mmethod
name=dict_emp_info.get('name');
print(name)
department=dict_emp_info.get('dep')
print(department)

john page
it

Lacture 25

In [ ]:
#to delete entire dictonary
dict_emp_info={
    'name':'john page',
    'dep':'it',
    'dob':'12\01\1990',
    'salary':'60$'
}
del dict_emp_info
print(dict_emp_info)

NameError: ignored

In [ ]:
#deleting specific item
dict_emp_info={
    'name':'john page',
    'dep':'it',
    'dob':'12\01\1990',
    'salary':'60$'
}
del dict_emp_info['dep']
print(dict_emp_info)

{'name': 'john page', 'dob': '12\x01\x01990', 'salary': '60$'}

In [ ]:
#pop
dict_emp_info.pop('name')
print(dict_emp_info)

KeyError: ignored

In [ ]:
# without delete / clearing dictonary
dict_emp_info={
    'name':'john page',
    'dep':'it',
    'dob':'12\01\1990',
    'salary':'60$'
}
dict_emp_info.clear()
print(dict_emp_info)

{}

In [ ]:
#iterrating a dictonary
#only keys
dict_emp_info={
    'name':'john page',
    'dep':'it',
    'dob':'12\01\1990',
    'salary':'60$'
}

emp_keys=dict_emp_info.keys()
print(emp_keys)

#keys()and vlues() are two methods

for dictonary in dict_emp_info.keys():
  print(dictonary + " : " + dict_emp_info[dictonary])

dict_keys(['name', 'dep', 'dob', 'salary'])
name : john page
dep : it
dob : 12990
salary : 60$

**Lacture 26**

In [ ]:
#dictonary loop Through
#dictonary with String keys

print('dictonary with String keys'.center(30,"_"))

dict_emp_ids={
    'id01':'john page',
    'id02':'david thompson',
    'id03':'terry gao',
    'id04':'barry tax'
}
#keys()
dict_emp_ids_key=dict_emp_ids.keys()
print(dict_emp_ids_key,type(dict_emp_ids_key))
#values

dict_emp_ids_key=dict_emp_ids.values()
print(dict_emp_ids_key,type(dict_emp_ids_key))

#loop through keys,values
for empids in dict_emp_ids.keys():
  print(empids + " : "+ dict_emp_ids[empids])

#items
print(dict_emp_ids.items())

for empid,empname in dict_emp_ids.items():
  print(empid +" : "+empname)

del dict_emp_ids['id01']
print(dict_emp_ids)
dict_emp_ids.clear()
print(dict_emp_ids)

__dictonary with String keys__
dict_keys(['id01', 'id02', 'id03', 'id04']) <class 'dict_keys'>
dict_values(['john page', 'david thompson', 'terry gao', 'barry tax']) <class 'dict_values'>
id01 : john page
id02 : david thompson
id03 : terry gao
id04 : barry tax
dict_items([('id01', 'john page'), ('id02', 'david thompson'), ('id03', 'terry gao'), ('id04', 'barry tax')])
id01 : john page
id02 : david thompson
id03 : terry gao
id04 : barry tax
{'id02': 'david thompson', 'id03': 'terry gao', 'id04': 'barry tax'}
{}

In [ ]:
#dict_pract

group1={
    'name':'Group1',
    'Location':'gorakhpur',
    'Members':34,
    'type':'Self operated'
}
print(group1)
for group in group1:
  print(group,' ',group1[group])

{'name': 'Group1', 'Location': 'gorakhpur', 'Members': 34, 'type': 'Self operated'}
name   Group1
Location   gorakhpur
Members   34
type   Self operated

**Lacture27**

In [ ]:
#Converting Dictonary keys to list

dict_airport_code_to_city={
                            'yax':'Zeddah,Saudi Arebia',
                            'ybx':'abbostford,canada',
                            'ycx':'Aberdeen,Scotland',
                            'ydx':'kushinagar,india',
                            'yex':'Entibia,uganda',
                            'yfx':'bangladesh,bangladesh'
                            }
  
print(dict_airport_code_to_city)

{'yax': 'Zeddah,Saudi Arebia', 'ybx': 'abbostford,canada', 'ycx': 'Aberdeen,Scotland', 'ydx': 'kushinagar,india', 'yex': 'Entibia,uganda', 'yfx': 'bangladesh,bangladesh'}

In [ ]:
airport_codes=dict_airport_code_to_city.keys()
print(type(airport_codes))

airport_codes=list(dict_airport_code_to_city.keys())
print(airport_codes)
print(type(airport_codes))
#sorting
airport_codes.sort(reverse=True)
print(airport_codes)

<class 'dict_keys'>
['yax', 'ybx', 'ycx', 'ydx', 'yex', 'yfx']
<class 'list'>
['yfx', 'yex', 'ydx', 'ycx', 'ybx', 'yax']

In [ ]:
#convert list to dictonary and tuple to dictonary
employee_list=[['101','john'],['102','bobby'],['103','albert'],['104','rocky']]
print(employee_list)

new_tuple=tuple(employee_list)

employee_list1=dict(employee_list)
print(employee_list1)

#tuple
new_tuple=tuple(employee_list)
print(new_tuple)
new_tuple_dict=dict(new_tuple)
print(new_tuple_dict)

[['101', 'john'], ['102', 'bobby'], ['103', 'albert'], ['104', 'rocky']]
{'101': 'john', '102': 'bobby', '103': 'albert', '104': 'rocky'}
(['101', 'john'], ['102', 'bobby'], ['103', 'albert'], ['104', 'rocky'])
{'101': 'john', '102': 'bobby', '103': 'albert', '104': 'rocky'}

In [ ]:
#dictonary methods
dict_emp_ids={
    'id01':'john page',
    'id02':'david thompson',
    'id03':'terry gao',
    'id04':'barry tax'
}
print(dict_emp_ids)

#copy() methods
dict_emp_ids_new=dict_emp_ids.copy()
print(dict_emp_ids_new)

{'id01': 'john page', 'id02': 'david thompson', 'id03': 'terry gao', 'id04': 'barry tax'}
{'id01': 'john page', 'id02': 'david thompson', 'id03': 'terry gao', 'id04': 'barry tax'}

In [ ]:
#fromkeys() methods

mykeys={1,2,3,4,5,6}
dictonary=dict.fromkeys(mykeys)
print(dictonary)

{1: None, 2: None, 3: None, 4: None, 5: None, 6: None}

In [ ]:
#fromkeys() method

mykeys={1,2,3,4,5,6}
dictonary=dict.fromkeys(mykeys,'Default_values')#fromkeys expected at most 2 arguments, got 3
print(dictonary)

{1: 'Default_values', 2: 'Default_values', 3: 'Default_values', 4: 'Default_values', 5: 'Default_values', 6: 'Default_values'}