<a href="https://colab.research.google.com/github/dreamer561/Python/blob/main/list_11_12th_lact.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#list is mutable sequence of python objects

number=[1,2,3,4,5,6,7,8,9]
name=['kim','jon','dora','kely'] #String
animals=["horse",'fox','hen','cat','dog']
my_list=[1,3,4,5,'dora','kely']
my_empty=[]

print(number)
print(name)
print(animals)
print(my_list)
print(my_empty)

#printing types
print(type(number))
#access items from list

print(number[3])
print (number[-4]) #negative indexing

#slicing
animals=["horse",'fox','hen','cat','dog','snake','lion','tiger','loepard']
print('4th,5th,6th',animals[3:6])
print('4th-->7th',animals[3:7])

#negative slicing
print(animals[-4:-2])

[1, 2, 3, 4, 5, 6, 7, 8, 9]
['kim', 'jon', 'dora', 'kely']
['horse', 'fox', 'hen', 'cat', 'dog']
[1, 3, 4, 5, 'dora', 'kely']
[]
<class 'list'>
4
6
4th,5th,6th ['cat', 'dog', 'snake', 'lion']
4th-->7th ['cat', 'dog', 'snake', 'lion', 'tiger']
['snake', 'lion']

In [ ]:
#operators in list
number=[1,2,3,4,5,6,7,8,9]
name=['kim','jon','dora','kely']

new_list=number+name
print(new_list)

#*operator
print(name*2)
#print(name*new_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 'kim', 'jon', 'dora', 'kely']
['kim', 'jon', 'dora', 'kely', 'kim', 'jon', 'dora', 'kely']

TypeError: can't multiply sequence by non-int of type 'list'

In [ ]:
#nested list
name=[['kim','jon','dora','kely'],[1,2,3,4,5]]
print(name[0])
print(name[1][3])

['kim', 'jon', 'dora', 'kely']
4

# list lacture13

In [ ]:
#list_methods---pre defined
number=[1,2,3,4,5,6,7,8,9]
names=['kim','jon','dora','kely']
animals=["horse",'fox','hen','cat','dog','lion','tiger','loepard']

print(number)
print(names)
print(animals)

#using append
print('After append the list is : ',number.append(10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]
['kim', 'jon', 'dora', 'kely']
['horse', 'fox', 'hen', 'cat', 'dog', 'lion', 'tiger', 'loepard']
After append the list is : None

In [ ]:
#using append
number=[1,2,3,4,5,6,7,8,9]
print(number)
number.append(10)
print('After append the list is : ',number)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
After append the list is :  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#using extend() ---for adding more then 1 elements in list
print(names)
names.extend(['peter','bobby'])

['kim', 'jon', 'dora', 'kely', 'peter', 'bobby']

In [ ]:
#insert ()====to add new elements on specific position
print(names)
names.insert(3,'Abdul')
print(names)

['kim', 'jon', 'dora', 'Abdul', 'kely', 'peter', 'bobby', 'peter', 'bobby']
['kim', 'jon', 'dora', 'Abdul', 'Abdul', 'kely', 'peter', 'bobby', 'peter', 'bobby']

# Lacture 14

In [ ]:
#deleting elements from list
number=[1,2,3,4,5,6,7,8,9]
animals=["horse",'fox','hen','cat','dog','lion','tiger','loepard']

#deleting by index
print(number)
print('Deleting by Index'.center(30,'-'))
del number[2]
print(number)

print('Deleting by Index'.center(30,'-'))
print(animals)
del animals[2:4]
print(animals)

print('Deleting entire list'.center(30,'-'))
print(number)
del number
print(number)

SyntaxError: invalid syntax (3750221062.py, line 8)

# Lacture 15

In [ ]:
#POP 
numbers=[1,2,3,4,5,6,7,8,9]
print('POP'.center(30,'#'))
print(numbers)
numbers.pop()
print(numbers)
numbers.pop(5)
print(numbers)

#############POP##############
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 7, 8]

In [ ]:
print('DElete multiple elements from list--'.center(30,'#'))
print(numbers)
numbers[1:5]=[] #Assigning blank list
print(numbers)

DElete multiple elements from list--
[1, 2, 3, 4, 5, 6, 7]
[1, 6, 7]

In [ ]:
#list methods

print(names)
#numbers.extend([1,2,3,4,5])
print(numbers)
print('The length of list is :',len(numbers))

['jon', 'kely', 'peter', 'bobby', 'peter', 'bobby']
[1, 6, 7, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
The length of list is : 13

In [ ]:
print(numbers)

[1, 6, 7, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [ ]:
number=[1,2,3,4,5,6]
print(number)
number.extend([1,2,3,4,6,5])
print(number)
print('Length of Given list is :',len(number))

#count 
print(number)
print('count of specific item :',number.count(1))

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 6, 5]
Length of Given list is : 12
[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 6, 5]
count of specific item : 2

In [ ]:

#count 
print(number)
print('count of specific item :',number.count('1'))

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 6, 5]
count of specific item : 0

In [ ]:
#reverse

print(numbers)
numbers.reverse()

[1, 2, 3, 4, 5, 7, 8]

# Lacture 16

In [ ]:
#sort
numberss=[1,2,3,4,5,6,7,8,9]
namess=["kim",'trump','Danny','terri','Nikki','john']

'''numberss.sort()
numberss.reverse()'''
print(numberss)
numberss.sort(reverse=True)
print(numberss)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
#copying A list
print(numberss)
numberss_new=numberss
numberss.pop()
print('After copying -->',numberss_new,numberss)

[9, 8, 7, 6, 5, 4, 3, 2, 1]
After copying --> [9, 8, 7, 6, 5, 4, 3, 2] [9, 8, 7, 6, 5, 4, 3, 2]

In [ ]:
#copying a list using copy()
numbersss=[1,2,3,4,5,6,7,8,9]
numberss_neww=numbersss.copy()
print(numberss_neww)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#membership operator
names=['john','kim','kelify','dora']
#check dora in list

print('using in operator :'.center(44,'_'))
print("dora" in names)
names=['john','kim','kelify','dora']
print("dora" not in names)

____________using in operator :_____________
True
False