<a href="https://colab.research.google.com/github/dreamer561/Python/blob/main/Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#iterate_list
names=['a','b','c']
for name in names:
  print(name)

a
b
c

In [ ]:
#creating tuples
tuple1=(1,2,3,4,5)
tuple2=("a",'b','c')
tuple3='a','b','c'

print(tuple1)
print(tuple2)
print(type(tuple1))

(1, 2, 3, 4, 5)
('a', 'b', 'c')
<class 'tuple'>

In [ ]:
#Accessing a tuple
tuple6=(1,2,3,4,5,6,67,9)
print('by index'.center(30,'_'))
print(tuple6[5])

print('by index range (slicing)'.center(30,'_'))
print(tuple6[3:])
print(tuple6[3:6])#upperbound not included

___________by index___________
6
___by index range (slicing)___
(4, 5, 6, 67, 9)
(4, 5, 6)

In [ ]:
#EMMPTY TUPLE
tup=()
print(tup)

()

In [ ]:
print(tuple6)
print('by  negative indexing'.center(30,'_'))
print(tuple6[-3])

#accessing all elements
print(tuple6[:])

(1, 2, 3, 4, 5, 6, 67, 9)
____by  negative indexing_____
6
(1, 2, 3, 4, 5, 6, 67, 9)

<h4><b>Lacture 18</b></h4>

In [ ]:
#tuple operators
#using +

tup_1=(1,2,3,4,5)
tup_2=('a','b','c')
tup_3=tup_1+tup_2
print(tup_3)

#using *
print(tup_1*2)

(1, 2, 3, 4, 5, 'a', 'b', 'c')
(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [ ]:
#tuple nested
tup_nest1=([1,2,3,4],['A','B','C','D'],['a','b','c','d'])
tup_nest2=((1,2,3,4),['A','B','C','D'],['a','b','c','d'])
tup_nest3=([1,2,3,4],('A','B','C','D'),['a','b','c','d'])

print(tup_nest1[1][2])
print(tup_nest2)
print(tup_nest3)

C
((1, 2, 3, 4), ['A', 'B', 'C', 'D'], ['a', 'b', 'c', 'd'])
([1, 2, 3, 4], ('A', 'B', 'C', 'D'), ['a', 'b', 'c', 'd'])

In [ ]:
#changing  in tuple
#it is immutable
tuple_a=(1,2,3,4)
tuple_nest_a=((1, 2, 3, 4), ['A', 'B', 'C', 'D'], ['a', 'b', 'c', 'd'])

#change element
tuple_a[2]=99 #'tuple' object does not support item assignment

TypeError: ignored

<h3>Lacture 19

In [ ]:
print(tuple_nest_a)
tuple_nest_a[1][2]='x'
print(tuple_nest_a)

((1, 2, 3, 4), ['A', 'B', 'C', 'D'], ['a', 'b', 'c', 'd'])
((1, 2, 3, 4), ['A', 'B', 'x', 'D'], ['a', 'b', 'c', 'd'])

In [ ]:
#deliting tuple elements
print(tuple_nest_a)
del tuple_nest_a
print(tuple_nest_a)#NameError: name 'tuple_nest_a' is not defined

((1, 2, 3, 4), ['A', 'B', 'x', 'D'], ['a', 'b', 'c', 'd'])

NameError: ignored

In [ ]:
#tuple Unpacking
tuple_b=(1,2,3,4,5,6,6)
a=tuple_b[1]
print(tuple_b)
print(a)

#Unpacking #cn't change
a,b,c=tuple_b
print(a,b,c)

(1, 2, 3, 4, 5, 6, 6)
2

ValueError: ignored

In [ ]:
#tuples methods
tuple_b=(1,2,3,4,5,4,3,1,2,3,4,5,6,6)
#count
print(tuple_b.count(4))

#index
print('index : ',tuple_b.index(5))

3
index :  4

<h4><marquee>Lacture 20</marquee></h4>

In [ ]:
#tuple itterating
tuple_b=(1,2,3,4,5,4,3,1,2,3,4,5,6,6)
for tuple_b in tuple_b:
  print(tuple_b)


tuple_2=('a','b','c')
for x in tuple_2:
  print('alph : ',x)

1
2
3
4
5
4
3
1
2
3
4
5
6
6
alph :  a
alph :  b
alph :  c

In [ ]:
#membership operator
last_tup=('apple','mango','banana','grapes')
print('apple' not in last_tup)
print('apple' in last_tup)

False
True